html,
body,
section,
table,
thead,
tbody,
th,
tr,
td,
p {
  padding: 0;
  margin: 0;
}
section table {
  border: 1px solid gray;
  font-family: Calibri;
  margin: 10px auto;
  width: 420px;
}
section table thead tr th {
  margin: 0;
}
section table thead tr th p {
  font-size: 2.5em;
  text-align: left;
}
section table tbody tr td {
  padding: 25px 0 0 10px;
}
section table tbody tr td p {
  font-size: 1.1em;
  /*strong {
							font-size: 1.2em;
						}*/
}
section table tbody tr td a:hover {
  opacity: 0.8;
}
