section,
header,
img,
h1,
span,
form,
label,
input {
  padding: 0;
  margin: 0;
}
section {
  font-family: Times, Arial, sans-serif;
}
section header h1 {
  display: inline;
  font-size: 2.9em;
  position: relative;
  top: -15px;
}
section header h1 span {
  color: #33669B;
}
section form .arrangeElement {
  margin-top: -15px;
}
section form .arrangeElement input {
  padding: 5px;
}
section form .arrangeElement input[type="image"] {
  position: relative;
  top: 15px;
}
section form .arrangeElement label {
  vertical-align: bottom;
}
